.heading{
    font-size: 1.3em;
}

.food-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section{
display: flex;
justify-content: space-between;
}

.food{
    font-size: 1.4em;
}

.update,.delete{
    cursor: pointer;
}